# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.pdb
*.egg-info/
.eggs/
dist/
build/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
Desktop.ini

# 工作目录
.workbuddy/

# Windows
$RECYCLE.BIN/
